.page-section{
    width:100pc;
    height: 100pc;
}

.page-section::shadow div{
    border:1px;
}

.page-section::shadow .vertical-centralizer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column; 
    justify-content: center;
}

.page-section::shadow .vertical-centralizer .horizontal-centralizer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}