body{
    background-image: url("../imgs/background.jpg");
}

.nav-menu{
    font-family: 'Sans Serif';
    --nav-color: white;
    --nav-active-item-color:  #333230;
    --nav-font-color:  #333230;
    --nav-font-family: "Times";
    --nav-font-size: 30px;
    --nav-bg-color: #4e4c4574;
    --nav-font-color-active: white;
}

.nav-menu ul li a{
    text-decoration: none;
    color:white;
}

.first-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.first-section .logo{
    width: 380px;
    height: 380px;
}

.home-slide{
    height: fit-content;
    width: 1000;
    margin:100px 0 100px 0;
    --slide-width: 100%;
    --slide-height: auto;
    --slide-button-bkg: Transparent;
    --slide-button-border: none;
}

.galho{
    position: absolute;
    top:0;
    width: 200px;
    height: auto;
}

.galho.esquerdo{
    left:0;
}

.galho.direito{
    right:0;
}