body {
  height: 100%;
  background: #00000080 url(../imgs/background.jpg);
  background-size: cover;
  overflow-y: scroll;
}

.galho-top-right{
	width: 200px;
    height: 100px;
    background: url(../imgs/galho.png);
    position: fixed;
    background-repeat: no-repeat;
    z-index: 100;
    top: 0%;
}

.leaf-1{
	width: 200px;
	height: 100px;
	background: url(../imgs/leaf-1.png);
    position: fixed;
    background-repeat: no-repeat;
    z-index: 100;
    left: 20%;
}

.galho-top-left{
	width: 200px;
    height: 100px;
    background: url(../imgs/galho-1.png);
    position: fixed;
    z-index: 100;
    background-repeat: no-repeat;
    top: 0%;
    left: 93%;
    /* display: flex; */
    /* justify-content: center; */
}

/*logo-header*/

.logo-align{
	width: 100%;
	height: 100%;
}

.logo-header-max{
	width: 38%;
	height: 74%;
}

.logo-header{
    background: url(../imgs/loguinho.png);
    background-size: 86%;
    position: absolute;
    /* overflow: hidden; */
    /* max-width: 100%; */
    /* z-index: 100; */
    background-repeat: no-repeat;
    left: 34%;
    bottom: 25%;
    /* display: flex; */
    /* justify-content: center; */
}

/* MODAL */
.modal-align{
display: flex;
justify-content: flex-end;
margin-top: 10%;
}

.modal-style{
	    background: #101010e3;
    /* width: 337px; */
    border: 2px solid #E6E6E6;
    /* border-bottom: none; */
    margin-left: 2px;
    width: 17%;
    height: 155px;
    /* width: 323px; */
}

.align-text-modal{
	display: grid;
    justify-content: center;
}

/* slide */

.align-slide{
	display: flex;
	justify-content: center;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: 30%;
  z-index: 100;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0px;
  margin-top: -17px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #6b6666;
  border-radius: 0%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


 /* <!-- Navigation -->*/
 /*.sidenav{
 	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
 }*/
 ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #7A7776;
    opacity: 52%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #231F20;
}

.navbar{
/*display: flex;
justify-content: center;*/
margin: 0%;
box-shadow: #000 5px 12px 13px;
}

.btn-align{
	display: flex;
	justify-content: center;
}

.btn-home{
	    border: none;
    background: url(../imgs/down-arrow.png);
    width: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 54px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    /* display: flex; */
    /*justify-content: center;*/

}

.btn-home:hover{
	background: #231f20;
    color: #f1f1f1;
    border: 1px solid #231f20;
    border-radius: 50%;
    width: 50px;
    background-size: 95%;
    position: absolute;
    height: 50px;
    box-shadow: #000 5px 10px 13px;
}