<style>
    :host{
        background: var(--nav-bg-color);
    }
    
    ul{
        display: flex;
        justify-content: space-around;
        width:100%;
        list-style-type: none;
        padding: 0px;
        margin: 0px
    }
    
    ul li{
        padding: 10px 20px 10px 20px;
        height: 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    
    ul li a {
        color: var(--nav-font-color);
        font-family: var(--nav-font-family);
        font-size: var(--nav-font-size);
        text-decoration: none;
    }

    ul li.active {
        background: var(--nav-active-item-color)
    }
    
    ul li.active a{
        color: var(--nav-font-color-active);
    }


</style>

<ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#what-we-do">O que nós fazemos</a></li>
    <li><a href="#portfolio">Portfólio</a></li>
    <li><a href="#do-your-budget">Faça seu orçamento</a></li>
    <li><a href="#contact">Contato</a></li>
</ul>